html {
    box-sizing: border-box;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    max-width: 1440px;
    font-family: "Poppins", sans-serif;
    background: #F7F6F5;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.open {
    display: flex !important;
}

/* header */
.header {
    background-image: url(images/landingPage1/bg.png);
    background-repeat: no-repeat;
    max-width: 1392px;
    min-height: 790px;
    margin: 1.8%;
}

.container {
    max-width: 1240px;
    margin: 0 5.35%;
}

.imgForBurger {
    display: none;
}

.header-content .navbar {
    padding-top: 16px;
    margin-bottom: 64px;
}

.nav .nav-menu {
    display: flex;
    gap: 45px;
    padding-right: 175px;
    list-style: none;
}

.nav a {
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.social-icons2 {
    display: none;
    gap: 32px;
}

.nav span {
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language-switch {
    display: flex;
    align-items: center;
    gap: 8px;
}

.vertical-line {
    width: 1px;
    height: 16px;
    background-color: var(--Green, #0AE20A);
}

.hero-text h1 {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 8px;
}

.hero-text h4 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
}

.social-icons {
    max-width: 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 145px;
}

.hamburger-menu {
    display: none;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    cursor: pointer;
}

.hamburger-menu span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #FFFFFF;
}

.hamburger-menu::before, .hamburger-menu::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
}

.hamburger-menu::before { top: 0; }

.hamburger-menu::after { bottom: 0; }

.hamburger-menu.active span { transform: scale(0); }

.hamburger-menu.active::before {
    top: 50%;
    transform: rotate(45deg);
}

.hamburger-menu.active::after {
    top: 50%;
    transform: rotate(-45deg);
}

.phone-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: absolute;
    top: 464px;
    left: 50%;
    transform: translateX(-50%);
}

.phone-photo img {
    width: 100%;
    height: auto;
}


/* about section */
.about-section {
    margin-top: 287px;

}

.about-section .container {
    margin: 0 auto;
}

.download-links {
    margin: 0 auto;
    max-width: 451px;
    display: flex;
    justify-content: center;
}


.about-section h1 {
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3px;
    text-transform: uppercase;
    margin-top: 90px;
}

.features {
    margin-top: 156px;
    display: flex;
    flex-direction: column;
    gap: 159px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-evenly;
}

.feature-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 596px;
    padding-left: 35px;
    padding-bottom: 25px;
}

.feature-text p {
    color: #636363;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    position: relative;
    top: -10px;
}

.feature-text h2 {
    color: var(--Black, #111);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}

.feature-text .highlight {
    color: #111;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.button1 {
    border: none; 
    border-radius: 10px;
    background: #0AE20A; width: 186px; height: 48px;
    color: #111111;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin-top: 20px;
}

.button2 {
    border-radius: 8px; 
    border: 1px solid #111; width: 186px; height: 48px;
    color: #111111;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin-top: 20px;
}

.feature-item.reverse {
    flex-direction: row-reverse;
}

.feature-item.reverse .feature-text {
    margin-left: 35px;
    padding-left: 0;
}

.feature-item.reverse img {
    padding-left: 100px;
}



/*testimonials*/
.testimonials {
    background-image: url(images/landingPage1/bg2.png);
    background-repeat: no-repeat;
    max-width: 1392px;
    min-height: 790px;
    margin: 1.65%;
    margin-top: 160px;
}
/*
.testimonials h1{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3px;
    text-transform: uppercase;
    margin-bottom: 80px;
    padding-top: 80px;
}

.testimonial-item {
    display: flex;
}

.user-photo {
    margin-left: 55px;
}

.text-item {
    display: flex;
    flex-wrap: wrap;
    max-width: 556px;
    margin-top: 4.5%;
    margin-left: 35px;
}

.testimonial-item .text-item img {
    max-height: 24px;
    margin-left: 0;
}

.text-item p {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.64px;
    text-align: left;
    max-width: 520px;
}

.user-item {
    display: flex;
}

.new-coments {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-4xl, 32px);
    padding-left: 188px;
}

.testimonial-item .new-coments img {
    max-height: 56px;
}

.user-info {
    display: flex;
    margin-bottom: 40px;
    max-height: 56px;
}

.user-text {
    padding-left: 15px;
}

.user-info p {
    margin: 0;
}

.testimonial-item .user-info img {
    max-height: 56px;
    margin-left: 0;

}

.text-item .user-name {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.text-item .user-role {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 5px;
}
*/

/*fag*/
.faq {
    max-width: 1240px;
    margin: 11% auto 0;
}


.faq h1 {
    color: #111;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.faq-item {
    max-width: 818px;
    margin: 0 auto;
    display: flex;
    padding: 32px 0px;
    flex-wrap: wrap;
    border-top: 1.5px solid #ECECED;
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    padding: 0 0;
    text-align: left;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 818px;
}

.faq-question-text {
    color: #111;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.26px;
}

.faq-question .icon {
    font-size: 35px;
    line-height: 0;
}

.faq-answer {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
    color: #636363;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.05px;
    text-align: left;
    margin-top: 1px;
}

.faq-answer.show {
    opacity: 1;
    height: auto;
}


.faq-answer ol {
    padding-left: 20px;
}

/* final-info*/
.final-info{
    margin-top: 135px;
}

.final-info .container {
    max-width: 1240px;
    margin: 0 7%;
}

.final-content {
    display: flex;
    align-items: center;
}

.final-content img {
    margin-left: 117px;
}

.content {
    max-width: 712px;
    margin-top: 55px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.content h1 {
    color: #111;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    text-transform: uppercase;
    margin: 20px 0;
}

.content p {
    color: #636363;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 30px 0;
    max-width: 560px;
}

.download-links2 {
    display: flex;
    margin-left: -26px;
}

.download-links2_2 {
    display: none;
}

.download-links2 img {
    margin: 0;
}

.scrolling-container {
    margin-top: 160px;
}

.scrolling-container h2 {
    color: #111;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    padding-bottom: 18px;
    text-align: left;
}


.scrolling-text {
    max-width: 901px;
    height: 126px;
    padding-right: 42px;
    box-sizing: content-box;
}

.scrolling-text p {
    margin: 0;
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.simplebar-track.simplebar-vertical {
    background-color: #D8D8D8;
    width: 2px;
    border-radius: 5px;
}

.simplebar-scrollbar:before {
    background-color: #0AE20A;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 2px;
    border-radius: 5px;
    opacity: 1;
}

/* Медіа-запити для адаптивних розмірів */
@media (max-width: 1220px) {
    /*testimonials*/
    .text-item p {
        font-size: 26px;
    }

    .user-photo {
        width: 50%;
    }
}

@media (max-width: 1024px) {

    /* header */
    .logoNav, .imgForBurger {
        height: 38px;
    }

    .header {
        min-height: 624px;
    }

    .hero-text h1 {
        font-size: 48px;
        margin-bottom: 4px;
    }

    .hero-text h4 {
        font-size: 15px;
    }

    .social-icons {
        margin-top: 50px;
    }

    .phone-photo {
        gap: 30px;
        top: 350px;
    }

    .phone-photo .m {
        width: 40%;
    }
    
    .phone-photo .mCentral {
        width: 45%;
    }

    .nav .nav-menu {
        padding-right: 70px;
    }

    .download-links {
        padding-left: 3.7%;
    }

    /* about section */
    .feature-item {
        margin: 0 20px;
        gap: 10px;
    }

    .feature-item.reverse img {
        padding-left: 40px; /* Зміщення зображення вліво для .reverse */
    }

    /*testimonials
    .testimonials {
        min-height: 650px;
    }

    .testimonials h1 {
        padding-top: 50px;
    }

    .text-item p {
        font-size: 26px;
    }

    .user-photo {
        width: 40%;
    }*/

    /* final-info*/
    .final-content img {
        width: 35%;
        margin-left: 50px;
    }

    .download-links2 img {
        width: 100%;
        margin-left: 0;
    }

    .content h1 {
        font-size: 35px;
    }
}

@media (max-width: 860px) {

    /* about section */
    .about-section {
        margin-top: 150px;
    }

    .download-links {
        padding-left: 1%;
    }

    .about-section h1 {
        margin-top: 40px;
    }

    .features {
        gap: 50px;
        margin-top: 100px;
    }
    .feature-item {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    .feature-item.reverse {
        flex-direction: column;
    }
    .feature-item img {
        padding-left: 0;
    }

    .feature-item.reverse img {
        padding-left: 0;
    }

    .feature-text {
        padding-left: 0;
        margin-left: 0;
        align-items: center;
    }

    .feature-item.reverse .feature-text {
        margin-left: 0;
    }

    .feature-text p {
        text-align: center;
    }

    /*testimonials
    .testimonials {
        min-height: 550px;
    }

    .testimonials h1 {
        margin-bottom: 35px;
        font-size: 40px;
    }

    .text-item p {
        font-size: 26px;
    }

    .user-photo {
        display: none;
    }*/

    /*final-info*/
    .final-info {
        margin-top: 60px;
    }

    .final-content {
        flex-direction: column; /* Змінюємо напрямок flex-елементів на колонковий */
        align-items: center; /* Вирівнюємо елементи по центру */
        text-align: center; /* Центруємо текст */
        margin: 0 auto;
    }

    .final-content img {
        margin-left: 0;
        margin-top: 20px;
        width: 330px;
    }

    .content {
        text-align: center; /* Центруємо текст всередині контенту */
    }

    .content p {
        font-size: 15px;
        margin: 0 auto;
    }

    .download-links2_2 {
        display: flex;
        justify-content: center; /* Центруємо кнопки завантаження */
        
    }

    .download-links2_2 img {
        width: 100%;
    }

    .download-links2 {
        display: none;
    }
    
    .scrolling-container {
        margin-top: 60px;
    }
}

@media (max-width: 768px) {

    /* header */
    .logoNav, .imgForBurger {
        height: 36px;
    }

    .hero-text h1 {
        font-size: 38px;
    }

    .imgForBurger {
        display: inline !important;
    }

    .logoNav {
        display: none;
    }

    .nav.open {
        display: flex;
    }

    .hamburger-menu { 
        display: flex;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50%;
    }

    .phone-photo .m {
        width: 50%;
    }
    
    .phone-photo .mCentral {
        width: 55%;
    }

    .social-icons {
        display: none;
    }

    .nav { 
        display: none;
        background-image: url(images/landingPage1/bg.png);
        background-repeat: no-repeat;
        position: fixed;
        width: 100%;
        max-height: 368px;
        top: 0; bottom: 0; left: 0; right: 0;
        overflow: auto;
        justify-content: space-around;
        gap: 50%;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .nav-menu {
        flex-wrap: wrap;
        gap: 24px;
        padding: 0;
        flex-direction: column;
    }
    
    .social-icons2 {
        display: flex;
        max-height: 24px;
    }

    /* about section */
    .about-section {
        margin-top: 200px;
    }

    /*fag*/
    .faq h1 {
        font-size: 35px;
    }
    
    .faq-question-text {
        font-size: 15px;
    }
    
    .faq-question .icon {
        font-size: 25px;
    }
    
    .faq-answer {
        font-size: 14px;
    }

    /*final-info*/
    .content p {
        max-width: 400px;
        font-size: 14px;
        margin: 0 auto;
    }

    .download-links2_2 img {
        width: 256px;
    }

    .scrolling-container h2 {
        font-size: 18px;
    }

    .scrolling-text {
        height: 150px;
    }
}


@media (max-width: 600px) {
    /* header */
    .hero-text h1 {
        font-size: 30px;
    }

    .hero-text h4 {
        max-width: 271px;
    }

    .phone-photo .m {
        display: none;
    }

    .phone-photo .mCentral {
        width: 200%;
    }

    .phone-photo {
        top: 300px
    }

    .header-content .navbar {
        margin-bottom: 30px;
    }

    /* about section */
    .about-section {
        margin-top: 280px;
    }

    .about-section img {
        width: 100%;
    }

    /*final-info*/
    .content h1 {
        font-size: 28px;
    }

    .download-links2_2 img {
        width: 200px;
    }

    .scrolling-text {
        height: 200px;
    }
}

@media (max-width: 430px) {

    /* header */
    .logoNav, .imgForBurger {
        height: 36px;
    }

    .hero-text h1 {
        font-size: 23px;
    }

    .hero-text h4 {
        max-width: 271px;
    }

    .phone-photo .m {
        display: none;
    }
    
    .phone-photo {
        top: 270px
    }

    .phone-photo .mCentral {
        width: 150%;
    }

    .header-content .navbar {
        margin-bottom: 30px;
    }

    /* about section */
    .download-links {
        padding-left: 0;
    }

    .about-section h1 {
        font-size: 36px;
    }

    .features {
        gap: 20px;
        margin-top: 50px;
    }

    .feature-text p {
        font-size: 14px;
    }
    
    .feature-text h2 {
        font-size: 24px;
    }
    
    .feature-text .highlight {
        font-size: 14px;
    }

    /*testimonials
    .testimonials {
        min-height: 550px;
    }

    .testimonials h1 {
        margin-bottom: 35px;
        font-size: 40px;
    }

    .text-item p {
        font-size: 20px;
    }*/

    /*fag*/
    .faq {
        margin-top: 80px;
    }

    .faq h1 {
        font-size: 28px;
    }
    
    .faq-question-text {
        font-size: 15px;
    }
    
    .faq-question .icon {
        font-size: 25px;
    }
    
    .faq-answer {
        font-size: 14px;
    }

    /*final-info*/
    .final-info {
        margin-top: 40px;
    }

    .final-content img {
        width: 90%;
    }

    .download-links2_2 img {
        width: 200px;
    }

    .content h1 {
        font-size: 24px;
    }
    
    .scrolling-container {
        margin-top: 30px;
    }

    .scrolling-text {
        height: 250px;
    }
}

@media (max-width: 376px) {

    /* header */
    .phone-photo .mCentral {
        width: 150%;
    }

    .header-content .navbar {
        margin-bottom: 35px;
    }

    .hero-text h1 {
        font-size: 21px;
    }

    /*testimonials
    .testimonials h1 {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .text-item p {
        font-size: 18px;
    }*/

    /*final-info*/
    .content h1 {
        font-size: 20px;
    }

    .download-links2_2 img {
        width: 180px;
    }

    .scrolling-text {
        height: 280px;
    }
}

@media (max-width: 320px){
    /* about section */
    .about-section {
        margin-top: 180px;
    }

    /*testimonials
    .text-item p {
        font-size: 15px;
    }*/

    /*final-info*/
    .content h1 {
        font-size: 20px;
    }

    .download-links2_2 img {
        width: 165px;
    }

    .scrolling-text {
        height: 300px;
    }
}